# Linux
.directory
*~

# npm
node_modules
package-lock.json
*.log
*.gz

# aws
.elasticbeanstalk/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Firebase
serviceAccountKey.json
firebaseConfig.json

# .env
.env
