
option_settings:
  aws:elasticbeanstalk:container:nodejs:
      NodeCommand: "npm start"
Resources:
  Profile:
    Type: AWS::DynamoDB::Table
    Properties: 
      KeySchema: [
        { AttributeName: 'PK', KeyType: 'HASH' },
        { AttributeName: 'SK', KeyType: 'RANGE' },
      ]
      AttributeDefinitions: [
        { AttributeName: 'PK', AttributeType: 'S' },
        { AttributeName: 'SK', AttributeType: 'S' },
        { AttributeName: 'User_GSI', AttributeType: 'S' },
        { AttributeName: 'Acc_GSI', AttributeType: 'S' },
      ]
      GlobalSecondaryIndexes: [
        {
          IndexName: 'User_GSI',
          KeySchema: [
            { AttributeName: 'User_GSI', KeyType: 'HASH' },
            { AttributeName: 'SK', KeyType: 'RANGE' },
          ],
          Projection: {
            ProjectionType: 'ALL',
          },
          ProvisionedThroughput: {
            ReadCapacityUnits: 10,
            WriteCapacityUnits: 10,
          }
        },
        {
          IndexName: 'Acc_GSI',
          KeySchema: [
            { AttributeName: 'Acc_GSI', KeyType: 'HASH' },
            { AttributeName: 'SK', KeyType: 'RANGE' },
          ],
          Projection: {
            NonKeyAttributes: [ 'PK' ],
            ProjectionType: 'INCLUDE',
          },
          ProvisionedThroughput: {
            ReadCapacityUnits: 10,
            WriteCapacityUnits: 10,
          }
        },
      ]
      ProvisionedThroughput: {
        ReadCapacityUnits: 10,
        WriteCapacityUnits: 10,
      }
